body
{
background-color: aquamarine;
}

h1
{
    color:rgb(4, 13, 137);
    background-color: bisque;
}

#show_sketch
{
   float:right;
}

canvas
{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {

    from {box-shadow: 1px 1px 38px rgb(97, 237, 176);}
    to {box-shadow: 1px 1px 38px rgb(255, 255, 255);}
}

p 
 {
    padding-top:10px;
    font-size:25px;
 }

 #footer {
    position: fixed;
    color: navy;
    bottom: 0;
    width: 100%;
    font-size: 20;
    background-color: skyblue;
    line-height: 3;
    text-align: center;
    text-shadow: 7px -3px 5px blue;
}